{% extends 'seller/seler_base.html' %}
{%load crispy_forms_tags %}
{% block content %}
    <div class="main-nav-start">
      <form method="get">
        <div class="search-wrapper d-flex">
          <i data-feather="search" aria-hidden="true"></i>
          {{ filter_products.form}}
          <button type="submit" class=" btn btn-primary">search</button>
        </div>
      </form>
    </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">cover</th>
      <th scope="col">name</th>
      <th scope="col">author</th>
      <th scope="col">category</th>
      <th scope="col">description</th>
      <th scope="col">stock</th>
      <th scope="col">price</th>
      <th scope="col">update</th>
      <th scope="col"></th>


    </tr>
  </thead>
  <tbody>
  {% for book in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <th><img width="300px" height="100px" src="{{ book.cover.url }}"></th>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.category }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.stock }}</td>
      <td>{{ book.price }}</td>
      <td><a href="" class="btn btn-secondary">update</a> </td>
      <td><a href="" class="btn btn-danger">delete</a> </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}